footer {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.p-link__area {
    flex-grow: 1;
    align-items: center;
    display: flex;
}
.p-link__area span {
    padding: 0 10px;
}
.p-link__area span a {
    text-decoration: none;
    color: #ff6347;
}
.p-cover__wrap {
    background: #ff6347;
    color: #fff;
    text-align: center;
    line-height: 2.5;
}