.p-form__area {
    text-align: center;
    height: calc(100vh - 70px - 15vh);
}
.p-form__title {
    padding: 30px 0;
}
.p-form__title span {
    font-size: 30px;
    font-weight: 600;
}
.p-flow__area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 800px;
    background-image: url("https:drive.google.com/uc?export=view&id=1RxQgKiTcj3Twazl4jozUcR9eEFT7yK-L");
    background-repeat: no-repeat;
    margin: 0 auto 50px;
}
.p-flow__wrap {
    width: 160px;
    height: 40px;
    font-size: 12px;
    background: #ffdad3;
    color: #ff6347;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
}
.p-flow__wrap:nth-child(n+2)::before {
    position: absolute;
    content: "";
    background: #ffdad3;
    top: 0px;
    left: 0px;
    border-left: 20px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
}
.p-flow__wrap:nth-last-child(n+2)::after {
    position: absolute;
    content: "";
    background: #fff;
    top: 0px;
    right: 0px;
    border-left: 20px solid #ffdad3;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
}
/* .is-active, .p-flow__wrap.is-active::before {
    background: #ff6347;
}
.p-flow__wrap.is-active::after {
    border-left-color: #ff6347;
}
.p-flow__parts {
    position: relative;
    color: #383838;
    width: 122px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px #ffdad3;
    background: #ffdad3;
    margin-left: 5px;
}
.p-flow__parts::before {
    z-index: 2;
    position: absolute;
    content: "";
    background: #ffdad3;
    top: -5px;
    left: 0;
    border-left: 15px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.p-flow__parts::after {
    z-index: 2;
    position: absolute;
    content: "";
    background: transparent;
    top: -5px;
    right: -20px;
    border-left: 15px solid #ffdad3;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
} */
.p-input__area {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto 45px;
}
.p-input__area input::placeholder {
    color: #b7b7b7;
}
.p-input__area .p-wrap__confirm {
    border: solid 1px #707070;
    overflow: hidden;
    border-radius: 10px;
}
.p-wrap__confirm .p-input__style {
    border: none;
    border-radius: 0;
}
.p-input__area .p-wrap__confirm .wpcf7-form-control-wrap:first-of-type input {
    border-bottom: solid 1px #707070;
}
.is-basis-info .p-wrap__confirm input:first-child {
    border-bottom: solid 1px #707070;
} 
.p-input__area input { 
    width: 340px;
}
.p-btn__round.is-form {
    width: 400px;
    margin-top: 50px;
}
.p-pass_area {
    position: relative;
}

/* step2 */
.is-step2 {
    display: none;
}
.is-step2 .p-flow__area {
    background-image: url("https:drive.google.com/uc?export=view&id=1v2Opt13echL9HJVvLMC27X6wqLMYXy28");
}
.p-register__text {
    font-size: 15px;
    font-weight: 600;
}
.p-register__text .p-text__block {
    margin-bottom: 25px;
} 

/* 基本情報画面 */
.p-error__text {
    position: absolute;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 1.8;
    padding-left: 10px;
    color: #ff6347;
}
.p-name__area {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.p-name__area input {
    width: 130px;
}
.p-name__area input:first-child {
    margin-right: 20px;
}
.p-form__label {
    text-align: left;
    margin: 10px 10px 5px;
    font-weight: 600;
}

/* プロフィール画面 */
.is-profile {
    display: none;
}
.p-img__area.p-input__style {
    display: flex;
    flex-direction: row;
    height: 120px;
}
.p-img__area.p-input__style input {
    width: auto;
}
.p-text__area.p-input__style {
    height: 120px;
}
.p-show__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    border: solid 0.5px #707070;
    background-color: #fff;
    background-image: url("https:drive.google.com/uc?export=view&id=1ZM8ypH3fky4QO7bRn-CZmNtQZFH7htnO");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}   
.p-post__img input{
    display: none;
}
.p-post__img {
    background: #b7b7b7;
    color: white;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    line-height: 1.5;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
}
.p-btn__area {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.p-btn__area input {
    width: 180px;
    height: 40px;
    line-height: 1;
    font-weight: 600;
}
.p-btn__area  .ajax-loader {
    position: absolute;
}
.p-btn__round.is-temp {
    background: #fff;
    border: solid 5px #ff6347;
    color: #383838;
    line-height: 0;
}
/* 登録完了ボタン */
.p-register__complete {
    display: none;
}